<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper表示根标签-->
<!--com.huinong.mapper.UserMapper 表示mapper中的接口-->
<mapper namespace="com.xing.springmvcstatic_js_importdemo.mapper.UserMapper">

    <!--
        mapper接口和映射文件要保持一致
        1.mapper接口的全类名和映射文件namespace一致
        2.mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->

    <!--//根据姓名去查询用户 User getUserByNameAndPassword(String username , String password);-->
    <select id="getUserByNameAndPassword" resultType="com.xing.springmvcstatic_js_importdemo.entity.User" parameterType="String">
        select * from user where username = '${username}' and password = '${password}'
    </select>

    <!--//查询所有用户List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.xing.springmvcstatic_js_importdemo.entity.User">
        select * from user
    </select>
</mapper>